flows/Convert_WI_to_US_2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <interviewLabel>Convert WI to US 2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Convert WI to US 2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Copado_US</name>
        <label>Create Copado US</label>
        <locationX>427</locationX>
        <locationY>50</locationY>
        <inputAssignments>
            <field>AA_Work_Item__c</field>
            <value>
                <elementReference>Get_AA_WI.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Footprints_No__c</field>
            <value>
                <elementReference>Get_AA_WI.Footprints_No__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WI_Unique__c</field>
            <value>
                <elementReference>Get_AA_WI.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Developer__c</field>
            <value>
                <elementReference>Get_AA_WI.agf__Assignee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Functional_Specifications__c</field>
            <value>
                <elementReference>Get_AA_WI.agf__Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Status__c</field>
            <value>
                <elementReference>Get_AA_WI.agf__Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__User_Story_Title__c</field>
            <value>
                <elementReference>Get_AA_WI.agf__Subject__c</elementReference>
            </value>
        </inputAssignments>
        <object>copado__User_Story__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_AA_WI</name>
        <label>Get AA WI</label>
        <locationX>219</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Copado_US</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>agf__ADM_Work__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>agf__Subject__c</queriedFields>
        <queriedFields>agf__Description__c</queriedFields>
        <queriedFields>agf__Status__c</queriedFields>
        <queriedFields>Footprints_No__c</queriedFields>
        <queriedFields>agf__Assignee__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_AA_WI</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
