flows/Execute_Git_Snapshot.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Execute_Git_Snapshot</name>
        <label>Execute Git Snapshot</label>
        <locationX>398</locationX>
        <locationY>428</locationY>
        <actionName>CopadoSnapshot.executeGitSnapshot</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Update_Deployment_Job_with_Result</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>api_key</name>
            <value>
                <elementReference>copadoApiKey</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>gitSnapshotId</name>
            <value>
                <elementReference>copadoSnapshotId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Snapshot_Status</name>
        <label>Get Snapshot Status</label>
        <locationX>1146</locationX>
        <locationY>428</locationY>
        <actionName>CopadoAPI.getJobStatus</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Did_job_complete</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>api_key</name>
            <value>
                <elementReference>copadoApiKey</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>copadoJobId</name>
            <value>
                <elementReference>Execute_Git_Snapshot.200.copadoJobId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Did_job_complete</name>
        <label>Did job complete?</label>
        <locationX>1138</locationX>
        <locationY>654</locationY>
        <defaultConnector>
            <targetReference>Wait_for_Snapshot_Completion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Job still in progress</defaultConnectorLabel>
        <rules>
            <name>Job_succeeded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Snapshot_Status.200.isFinished</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Snapshot_Status.200.isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Again</targetReference>
            </connector>
            <label>Job succeeded</label>
        </rules>
        <rules>
            <name>Job_failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Snapshot_Status.defaultExc.error</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Again</targetReference>
            </connector>
            <label>Job failed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_Snapshot_Start</name>
        <label>Did Snapshot Start?</label>
        <locationX>750</locationX>
        <locationY>430</locationY>
        <defaultConnector>
            <targetReference>Update_Again</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Snapshot Not Started</defaultConnectorLabel>
        <rules>
            <name>Snapshot_Started</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Execute_Git_Snapshot.200.copadoJobId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wait_for_Snapshot_Completion</targetReference>
            </connector>
            <label>Snapshot Started</label>
        </rules>
    </decisions>
    <description>Execute a Copado Git Snapshot and update the results.</description>
    <formulas>
        <name>CurrentTimePlus3Minutes</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+(3/1440)</expression>
    </formulas>
    <formulas>
        <name>JobStatus</name>
        <dataType>String</dataType>
        <expression>IF({!Job_succeeded}, &apos;Success&apos;, &apos;Failed&apos;)</expression>
    </formulas>
    <formulas>
        <name>Message</name>
        <dataType>String</dataType>
        <expression>IF( ISBLANK({!Execute_Git_Snapshot.defaultExc.error}) , {!Get_Snapshot_Status.defaultExc.error}, {!Execute_Git_Snapshot.defaultExc.error})</expression>
    </formulas>
    <formulas>
        <name>SalesforceOrgURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_340}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_340}))</expression>
    </formulas>
    <interviewLabel>Execute Git Snapshot {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Execute Git Snapshot</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Result_object</name>
        <label>Result object</label>
        <locationX>176</locationX>
        <locationY>272</locationY>
        <connector>
            <targetReference>Pause</targetReference>
        </connector>
        <inputAssignments>
            <field>copado__Job_Id__c</field>
            <value>
                <elementReference>Execute_Git_Snapshot.200.copadoJobId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Job_Type__c</field>
            <value>
                <stringValue>Copado Git Snapshot</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Link__c</field>
            <value>
                <stringValue>{!SalesforceOrgURL}{!copadoSnapshotId}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Start_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>copado__Result__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Again</name>
        <label>Update Again</label>
        <locationX>758</locationX>
        <locationY>660</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Result_object</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>copado__End_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Error_Message__c</field>
            <value>
                <elementReference>Message</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Job_Id__c</field>
            <value>
                <elementReference>Execute_Git_Snapshot.200.copadoJobId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Status__c</field>
            <value>
                <elementReference>JobStatus</elementReference>
            </value>
        </inputAssignments>
        <object>copado__Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Deployment_Job_with_Result</name>
        <label>Update Deployment Job with Result</label>
        <locationX>588</locationX>
        <locationY>428</locationY>
        <connector>
            <targetReference>Did_Snapshot_Start</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>copadoJobId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>copado__Last_Result__c</field>
            <value>
                <elementReference>Result_object</elementReference>
            </value>
        </inputAssignments>
        <object>copado__Deployment_Job__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>109</locationY>
        <connector>
            <targetReference>Result_object</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>copadoApiKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Copado Deployment Job Id.</description>
        <name>copadoJobId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>copadoSnapshotId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Pause</name>
        <label>Pause</label>
        <locationX>176</locationX>
        <locationY>428</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Pause_for_Settings</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Execute_Git_Snapshot</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Pause for Settings</label>
        </waitEvents>
    </waits>
    <waits>
        <name>Wait_for_Snapshot_Completion</name>
        <label>Wait for Snapshot Completion</label>
        <locationX>967</locationX>
        <locationY>426</locationY>
        <defaultConnectorLabel>Flow did not resume</defaultConnectorLabel>
        <waitEvents>
            <name>Wait_for_Snapshot</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Get_Snapshot_Status</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>CurrentTimePlus3Minutes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
            </inputParameters>
            <label>Wait for Snapshot</label>
        </waitEvents>
    </waits>
</Flow>
